[submodule "payment-api"]
	path = payment-api
	url = https://github.com/Numerisen/attaqwa-paiement.git

[submodule "rag-system"]
	path = rag-system
	url = https://github.com/Numerisen/numerisenSamaQuetesRagAndTextOfTheDay.git
